<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<script>
if(localStorage.getItem('login') != null || localStorage.getItem('login') != undefined){
  let navbar = document.getElementById('navbar-brands');

    navbar.href = "/user/"+localStorage.getItem('login');
    navbar.innerHTML+='<i class="icofont-user-alt-7"></i>';


  console.log("Вітаю "+ localStorage.getItem('name') +" "+ localStorage.getItem('surname'));
  a_id.innerHTML = "Вітаю "+ localStorage.getItem('name') +" "+ localStorage.getItem('surname');
  let inf = "Вітаю "+ localStorage.getItem('name') +" "+ localStorage.getItem('surname');
  a_id.onmouseover = function mouse_on(){
    a_id.innerHTML = '<i class="icofont-sign-out"></i>'; 
  }
  a_id.onmouseout = function mouse_off(){
    a_id.innerHTML = inf; 
  }
  a_id.onclick = function exit(){
    localStorage.removeItem('login')
    localStorage.removeItem('name');
    localStorage.removeItem('surname');
  }
  if(sessionStorage.getItem('корзина') =="" || sessionStorage.getItem('корзина') === null){
    console.log('кошик пустий')
    let id = document.getElementById("a_id");
    id.disable = "true";
  }
}
(function(){
  let dropdown_list = document.getElementById('dropdown_list');
  let list_request = new XMLHttpRequest();
  list_request.open("POST", "/table_names", true);   
  list_request.setRequestHeader("Content-Type", "application/json");
  list_request.addEventListener("load", function () {
    let data = JSON.parse(list_request.response);
    for(let i = 0;i<data.length;i++){
      dropdown_list.innerHTML+= '<li><a class="dropdown-item" href="/products/'+data[i].name+'">'+data[i].nazva+'</a></li>'
    }
  });
  list_request.send();
}());
(function(){
  let navbar = document.getElementById('navbar-brands');
  //if(localStorage.getItem('login') != null || localStorage.getItem('login') != undefined){
    navbar.href = "/user/'+localStorage.getItem('login')'"
    navbar.innerHTML+='<i class="icofont-user-alt-7"></i>';
  //}
})
</script>