
<div class="input-group mb-3">
    <input type="text" id="code" name="code" class="form-control" placeholder="Products code" aria-label="Products code" aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">вибрати</button>
</div>
    
    
<p id='name_model'></p>


<form action="/admin/add_files" method="POST" enctype="multipart/form-data">
    <div>
        <label for="file">Choose file to upload</label>
        <input type="file" id="file" name="photos">
    </div>
    <button type="submit" class="btn btn-primary">\/</button>
</form>



<script>
    let code = document.getElementById('code');
    let bttn = document.getElementById('button-addon2')
    let name = document.getElementById('name_model')
    bttn.onclick = function(){
        code = JSON.stringify({
            'code' : code.value
        })
        let request = new XMLHttpRequest();
        request.open("POST", "/admin/add_by_code", true);   
        request.setRequestHeader("Content-Type", "application/json");
        request.addEventListener("load", function () {
            let data = JSON.parse(request.response);
            name.innerHTML =  data.brand + " "+data.model;
        })
        request.send(code);
    }
</script>