<form action="/admin/add_by_code" method="POST" enctype="multipart/form-data">
<input type="file" id="file" name="file" multiple>
    {{!-- <div>
        <label for="file">Choose file to upload</label>
        <input type="file" id="file" name="file" multiple>
    </div>

    <div class="input-group mb-3">
        <input type="text" id="code" name="code" class="form-control" placeholder="Products code" aria-label="Products code" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">вибрати</button>
    </div> --}}
<input type="text" id="code" name="getCode" placeholder="Products code" aria-label="Products code" >
<button type="submit">////\\\\</button>
</form>


<script>
    //let code = document.getElementById('code');
    //let bttn = document.getElementById('button-addon2')
    //bttn.onclick = function(){
    //    code = JSON.stringify({
    //        'code' : code.value
    //    })
    //    let request = new XMLHttpRequest();
    //    request.open("POST", "/admin/pohto_code", true);   
    //    request.setRequestHeader("Content-Type", "application/json");
    //    request.addEventListener("load", function () {
    //        console.log(request.response)
    //    })
    //    request.send(code);
    //}
</script>