<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" onclick="location.href='admin/admin_xlsx'" class="btn btn-primary">xlsx</button>
  <button type="button" onclick="location.href='admin/admin_input'" class="btn btn-primary">input</button>
  <button type="button" onclick="location.href='admin/admin_download_xlsx'" class="btn btn-primary">download xlsx</button>
  <button type="button" onclick="location.href='admin/pokypka'" class="btn btn-primary">pokypka</button>
</div>




    