<form method="POST">
    <input type = 'text' placeholder = 'імя' name = 'name'>
    <input type = 'text' placeholder = 'фамілія' name = 'username'>
    <input type = 'text' placeholder = 'login' name = 'login'>
    <input type = 'text' placeholder = 'pass' name = 'password'>
    <input type = 'text' placeholder = 'email' name = 'email'>
    <button type="submit">вйо</button>
</form>